address{
  color: whitesmoke;
  position: relative;
  float: right;
  font-family: 'NotoSans';
}

@font-face {
  font-family: "NotoSans";
  font-display: swap;
  src: url(https://fonts.googleapis.com/css2?family=Noto-Sans:regular,wght@0,400;0,700;1,400;1,700&display=swap");
}

div {
  font-family: "NotoSans";
}

html {
  font-family: "NotoSans", "NotoSans-Regular";
}

/* System font before [[webfont]]s get loaded */
body {
  font-family: "NotoSans";
}

/* Use [[webfont]] when [[webfont]] gets loaded*/
.fonts-loaded body {
  font-family: "NotoSans",  "NotoSans-Regular";
}