address{
  color: whitesmoke;
  position: relative;
  float: right;
  font-family: NotoSans;
}
@font-face {
  font-family: NotoSans;
  src: url('FONTS\Noto_Sans\NotoSans-Regular.ttf');
}

div {
  font-family: NotoSans;
}